<div class="row">
  <div class="col-md-4">

      <form class="form-inline" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="category">Quiz Category</label>
        <input style="margin: 1em" class="form-control" id="quiz_category_input" type="text" [(ngModel)]="quiz.category" placeholder="Categories: Beer, QC, Movie" required name="category" />
        <label for="difficulty">Quiz Difficulty</label>
        <input style="margin: 1em" class="form-control" type="number" [(ngModel)]="quiz.difficulty" placeholder="1" 
          min=1 max=3 required name="difficulty" />
        <button style="margin-left: 1em" class="btn btn-info" type="submit">Create Quiz</button>
      </div>
      </form>
  </div>
</div>