h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: white;
  }

div {
    color: white;
    background-color: black;
}

.full{
    margin-bottom: 100%;
    background-color: black;
}

footer {
    background-color: black;
}